.headerFlights {
  background-color: #0B1A31;
  text-align: center;
  padding: 80px 20px;
  color: white;
}

.headerFlights h1 {
  font-size: 42px;
}

.contactSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.contactInfo {
  background: #0B1A31;
  color: white;
  padding: 25px;
  border-radius: 12px;
  width: 280px;
}

.contactInfo h2 {
  margin-bottom: 15px;
}

.contactForm {
  background: #ffffff;
  width: 350px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  text-align: left;
}

.contactForm h2 {
  margin-bottom: 15px;
  color: #19283f;
}

.contactForm input,
.contactForm textarea {
  width: 92%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

.contactForm button {
  width: 100%;
  padding: 12px;
  background: #19283f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.contactForm button:hover {
  background: #162033;
}

@media (max-width: 600px) {
  .contactForm {
    width: 90%;
    padding: 15px;
  }
}